<a href="https://colab.research.google.com/github/Asif-dth/advanced-Python-/blob/main/colab_feb_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
print("hello world")

hello world

In [ ]:
print("hello how are you ",sep=",")

hello how are you

In [ ]:
name='anand'
age='20'
print(name,age)

anand 20

In [ ]:
print(f"My name is (anand) and I am (20) years old")

My name is (anand) and I am (20) years old

In [ ]:
name = input("Enter your name")
Adm_no = input("enter your Adm_no")
address = input("enter your address")
DOB = input("enter your DOB")
phone_no = input("enter your phone_no")
print()

Enter your nameASIF MUHAMMED N
enter your Adm_noEC23160
enter your addressmanakattu Vilakom Aashan Manzil Near railway station kaniyapuram
enter your DOB28/06/2004
enter your phone_no9446656418

In [ ]:
print(f"name : {name}");
print(f"Adm_no : {Adm_no}");
print(f"address : {address}");
print(f"DOB : {DOB}");
print(f"phone_no : {phone_no}");

name : ASIF MUHAMMED N
Adm_no : EC23160
address : manakattu Vilakom Aashan Manzil Near railway station kaniyapuram
DOB : 28/06/2004
phone_no : 9446656418

In [ ]:
first_name = "asif"
last_name = "muhammed"
full_name = first_name +" "+last_name
print(full_name)

asif muhammed

In [ ]:
my_text = """it is said that humans are;
 Similar to monkeys but different;
  In terms of intellegence"""
my_text

'it is said that humans are;\n Similar to monkeys but different;\n  In terms of intellegence'

In [ ]:
news = "the job opportunities are increasing day by day"
print(len(news))

47

In [ ]:
news[3]

' '

In [ ]:
news[0]

't'

In [ ]:
news[0:15]

'the job opportu'

In [ ]:
news[15:]

'nities are increasing day by day'

In [ ]:
news[0::]

'the job opportunities are increasing day by day'

In [ ]:
news[-3]

'd'

In [ ]:
news

'the job opportunities are increasing day by day'

In [ ]:
news[15::2]

'nte r nraigdyb a'

In [ ]:
news.upper()

'THE JOB OPPORTUNITIES ARE INCREASING DAY BY DAY'

In [ ]:
news.lower()

'the job opportunities are increasing day by day'

In [ ]:
news.strip()

'the job opportunities are increasing day by day'

In [ ]:
news.split()

['the', 'job', 'opportunities', 'are', 'increasing', 'day', 'by', 'day']

In [ ]:
news.replace("increasing","decreasing")

'the job opportunities are decreasing day by day'

In [ ]:
news.capitalize()

'The job opportunities are increasing day by day'

In [ ]:
news.isalnum()

False

In [ ]:
news.swapcase()

'THE JOB OPPORTUNITIES ARE INCREASING DAY BY DAY'

In [ ]:
news.count("o")

3

In [ ]:
num1 = 20
num2 = 6
print(num1+num2)

26

In [ ]:
num1-num2

14

In [ ]:
num1/num2

3.3333333333333335

In [ ]:
num1*num2

120

In [ ]:
num1%num2

2

In [ ]:
num1>num2

True

In [ ]:
num1<num2

False

In [ ]:
num1==num2

False

In [ ]:
num1>=num2

True

In [ ]:
num1<=num2

False

In [ ]:
num1!=num2

True

In [ ]:
print(10>5 and 7>2)

True

In [ ]:
print(10>5 or 7>12)

True

In [ ]:
print(not(10>5 and 7>2))

False

In [ ]:
# in, not in

news

'the job opportunities are increasing day by day'

In [ ]:
print("opportunities" in news)

True

In [ ]:
num1 = int(input("enter your salary"))
num2 = int(input("enter your expense"))
savings = num1-num2
print(f"your monthly balance is {savings}")

enter your salary20000
enter your expense6700
your monthly balance is 13300

In [ ]:
current_salary=10000
new_salary=(current_salary+(current_salary/100*12))
print(f"current_salary is {new_salary}")

current_salary is 11200.0

In [ ]:
num1 = int(input("enter the received amount"))
num2 = 2000
print(num1>=num2)
print(num1%5)
print(num1/5)

enter the received amount30000
True
0
6000.0

In [ ]:
groceries = ["milk","bread","eggs","butter","cheese"]
print(groceries)

['milk', 'bread', 'eggs', 'butter', 'cheese']

In [ ]:
type(groceries)

list

In [ ]:
groceries[0]

'milk'

In [ ]:
groceries[-1]

'cheese'

In [ ]:
groceries[:3]

['milk', 'bread', 'eggs']

In [ ]:
len(groceries)

5

In [ ]:
new_list = ["apple","orange","banana","kiwi","mango"]

final_list = groceries+new_list
final_list

['milk',
 'bread',
 'eggs',
 'butter',
 'cheese',
 'apple',
 'orange',
 'banana',
 'kiwi',
 'mango']

In [ ]:
new_list2 = ["chips","biscuits"]
final_list.extend(new_list)

In [ ]:
final_list

['milk',
 'bread',
 'eggs',
 'butter',
 'cheese',
 'apple',
 'orange',
 'banana',
 'kiwi',
 'mango',
 'chips',
 'biscuits',
 'chips',
 'biscuits',
 'chips',
 'biscuits',
 'chips',
 'biscuits',
 'chips',
 'biscuits',
 'chips',
 'biscuits',
 'apple',
 'orange',
 'banana',
 'kiwi',
 'mango',
 'apple',
 'orange',
 'banana',
 'kiwi',
 'mango',
 'apple',
 'orange',
 'banana',
 'kiwi',
 'mango']

In [ ]:
final_list.append("curd")

In [ ]:
final_list.insert(2,"ice cream")

In [ ]:
final_list.reverse()

In [ ]:
final_list.sort()

In [ ]:
final_list.pop()

'orange'

In [ ]:
final_list.pop(2)

'apple'

In [ ]:
final_list.remove("orange")

In [ ]:
final_list.clear()

In [ ]:
final_list

[]

In [ ]:
final_list[1:3] = ["pens","pencil"]

In [ ]:
final_list

['pens', 'pens', 'pencil']

In [ ]:
album = ["broken angel","faded","pal pal"]
print(album)

['broken angel', 'faded', 'pal pal']

In [ ]:
type(album)

list

In [ ]:
new_list = ["phonk","metal,pop"]

In [ ]:
final_list = album+new_list

In [ ]:
final_list

['broken angel', 'faded', 'pal pal', 'phonk', 'metal,pop']

In [ ]:
new_list2 = ["memory","your eyes"]

In [ ]:
final_list.extend(new_list2)

In [ ]:
final_list

['broken angel',
 'faded',
 'pal pal',
 'phonk',
 'metal,pop',
 'memory',
 'your eyes']

In [ ]:
final_list.append("reboot")

In [ ]:
final_list

['broken angel',
 'faded',
 'pal pal',
 'phonk',
 'metal,pop',
 'memory',
 'your eyes',
 'reboot']

In [ ]:
final_list.insert(2,"kalyani")

In [ ]:
final_list

['broken angel',
 'faded',
 'kalyani',
 'pal pal',
 'phonk',
 'metal,pop',
 'memory',
 'your eyes',
 'reboot']

In [ ]:
final_list[2="vadd"]

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (ipython-input-774174600.py, line 1)

In [ ]:
nums=[10,23,83,13,90,43,5]

In [ ]:
max(nums)

90

In [ ]:
sum(nums)

267

In [ ]:
avg=sum(nums)/len(nums)
avg

38.142857142857146

In [ ]:
min(nums)

5

In [ ]:
nums.index(max(nums))

4

In [ ]:
final_list

In [ ]:
fruits = ("apple","banana","orange")
type(fruits)

tuple

In [ ]:
fruits_list = list(fruits)
fruits_list

['apple', 'banana', 'orange']

In [ ]:
veggies = ("carrot","beans","radish")
type(veggies)

tuple

In [ ]:
fruits += veggies
fruits

('apple',
 'banana',
 'orange',
 'carrot',
 'beans',
 'radish',
 'carrot',
 'beans',
 'radish',
 'carrot',
 'beans',
 'radish')

In [ ]:
len(fruits)

12

In [ ]:
fruits.index("tuber")

ValueError: tuple.index(x): x not in tuple

In [ ]:
fruits = {"apple","apple","orange","lemon"}
type(fruits)

set

In [ ]:
fruits

{'apple', 'lemon', 'orange'}

In [ ]:
vegs = {"onion","tomato"}
fruits.update(vegs)

In [ ]:
fruits

{'apple', 'lemon', 'onion', 'orange', 'tomato'}

In [ ]:
fruits.pop()

'onion'

In [ ]:
fruits

{'apple', 'lemon', 'orange', 'tomato'}

In [ ]:
fruits.remove("lemon")#.discard

In [ ]:
fruits

{'orange', 'tomato'}

In [ ]:
fruits-vegs

{'orange'}

In [ ]:
fruits.union(vegs)

{'onion', 'orange', 'tomato'}

In [ ]:
car = {
    "brand" : "toyota",
    "model" : "supra",
    "year"  : 2010,
    "cur_year" : 2017

}
car

{'brand': 'toyota', 'model': 'supra', 'year': 2010, 'cur_year': 2017}

In [ ]:
car["brand"]

'toyota'

In [ ]:
car2 = dict(brand = "toyota",model="supra",year=2010)
car2

{'brand': 'toyota', 'model': 'supra', 'year': 2010}

In [ ]:
car2["model"]

'supra'

In [ ]:
car2.get("brand")

'toyota'

In [ ]:
len(car2)

3

In [ ]:
car2.keys()

dict_keys(['brand', 'model', 'year'])

In [ ]:
car2.values()

dict_values(['toyota', 'supra', 2010])

In [ ]:
car2["model"] = "land cruiser"
car2

{'brand': 'toyota', 'model': 'land cruiser', 'year': 2010}

In [ ]:
car2["colour"] = "white"
car2

{'brand': 'toyota', 'model': 'land cruiser', 'year': 2010, 'colour': 'white'}

In [ ]:
car2.update({"cylinder":6,"engine":"petrol","colour":"black"})

In [ ]:
car2

{'brand': 'toyota',
 'model': 'land cruiser',
 'year': 2010,
 'colour': 'black',
 'cylinder': 6,
 'engine': 'petrol'}

In [ ]:
car2.popitem()
car2

{'brand': 'toyota', 'model': 'land cruiser', 'year': 2010}

In [ ]:
car2.pop("brand")
car2

{'model': 'land cruiser', 'year': 2010}

In [ ]:
del car2["model"]
car2

{'year': 2010}

In [ ]:
car2.clear()

In [ ]:
car2

{}

In [ ]:
emp1 = {"name" : "anand",
        "salary": 100000,
        "dept" : "hr"}
emp2 = {"name" : "abdullah",
         "salary" : 10000,
         "dept" : "it"}
emp3 = {"name" : "akber",
        "salary" : 140000,
        "dept" : "finance",
        "grade" : "mi"}

In [ ]:
employees = {
    "employee1": emp1,
    "employee2": emp2,
    "employee3": emp3
}
employees

{'employee1': {'name': 'anand', 'salary': 100000, 'dept': 'hr'},
 'employee2': {'name': 'abdullah', 'salary': 10000, 'dept': 'it'},
 'employee3': {'name': 'akber',
  'salary': 140000,
  'dept': 'finance',
  'grade': 'mi'}}

In [ ]:
employees["employee2"]

{'name': 'abdullah', 'salary': 10000, 'dept': 'it'}

In [ ]:
employees["employee3"]

{'name': 'akber', 'salary': 140000, 'dept': 'finance', 'grade': 'mi'}

In [ ]:
contact_book = {"name1" : "anand","phone no1"   : 9456745647,
                "name2" : "abdulla","phone no2" : 9098979695,
                "name3" : "akber","phone no3"   : 9087899790,
                "name4" : "ashkar","phone no4 " : 9087678997,
                "name5" : "adhil","phone no5"   : 9089056433}
contact_book

{'name1': 'anand',
 'phone no1': 9456745647,
 'name2': 'abdulla',
 'phone no2': 9098979695,
 'name3': 'akber',
 'phone no3': 9087899790,
 'name4': 'ashkar',
 'phone no4 ': 9087678997,
 'name5': 'adhil',
 'phone no5': 9089056433}

In [ ]:
contact_book.update({"name6" : "assem","phone":9876543212})
contact_book

{'name1': 'anand',
 'phone no1': 9456745647,
 'name2': 'abdulla',
 'phone no2': 9098979695,
 'name3': 'akber',
 'phone no3': 9087899790,
 'name4': 'ashkar',
 'phone no4 ': 9087678997,
 'name5': 'adhil',
 'phone no5': 9089056433,
 'name6': 'assem',
 'phone': 9876543212}

In [ ]:
del contact_book["name6"]

In [ ]:
contact_book

{'name1': 'anand',
 'phone no1': 9456745647,
 'name2': 'abdulla',
 'phone no2': 9098979695,
 'name3': 'akber',
 'phone no3': 9087899790,
 'name4': 'ashkar',
 'phone no4 ': 9087678997,
 'name5': 'adhil',
 'phone no5': 9089056433,
 'phone': 9876543212}

In [ ]:
contact_book.clear()

In [ ]:
contact_book

{}

In [ ]:
movies = ["avatar","titanic","incredibles","pacafic rim"]
ratings = [9,7,7,9,4,7,5]

movie_rating = dict(zip(movies,ratings))
movie_rating

{'avatar': 9, 'titanic': 7, 'incredibles': 7, 'pacafic rim': 9}

In [ ]:
a=10
b=20
if a>b:
   print("a is greater")
elif a==b:
   print("a and b are equal")
elif b==2*a:
   print("b is twice of a")
else:
   print("b is greater")

b is twice of a

In [ ]:
student_mark=int(input("enter your mark:"))
if student_mark >=90:
  print("a")
elif student_mark >=80:
  print("b")
elif student_mark >=70:
  print("c")
elif student_mark >=60:
  print("d")
else:
  print("fail")

enter your mark:60
d

In [ ]:
wheater = input("enter your wheater")
if wheater == "sunny":
  print("take suncream")
elif wheater == "rainy":
  print("take umbrella")
elif wheater == "cloudy":
  print("stay at home")
elif wheater == "warm":
  print("take sun glasses")
else:
  print("unknown")

enter your wheaterwarm
take sun glasses

In [ ]:
student = int(input("enter your age:"))
education = input("enter your education:")
if age >18:
  if education == "higher secondary":
    print("you r eligible for college")
else:
  print("you r not eligible for college but eligible for higher studies")

enter your age:19
enter your education:7

NameError: name 'age' is not defined

In [ ]:
mark = 45
result = "pass" if mark>30 else "fail"
if result == "pass":
  print("awarded with grade a")
if result == "fail":
  print("awarded with punishment")

awarded with grade a

In [ ]:
# value_if_true if expression else value_if_false

In [ ]:
temperature = 32
wheater = {"status":"hot" if temperature > 38 else "cold"}
wheater

{'status': 'cold'}

In [ ]:
items = {3200,3400,2300,120,3432}

In [ ]:
price = [3200,234,120,1300,250]
total = sum(price)
print(total)
if total>=5000:
  print("you get a discount of 20 percent and the total amount after discount is",total-total/100*20)
elif total>=3000:
  print("you get a discount of 10 percent and the total amount after discount is ",total-total/100*10)
else:
  print("you get no discount")

5104
you get a discount of 20 percent and the total amount after discount is 4083.2

In [ ]:
fruits = ["apple", "mango","orange"]
for fr in fruits:
  print(fr)

apple
mango
orange

In [ ]:
for i in range(10):
  print(f"square of (i) is (1*2)")

square of (i) is (1*2)
square of (i) is (1*2)
square of (i) is (1*2)
square of (i) is (1*2)
square of (i) is (1*2)
square of (i) is (1*2)
square of (i) is (1*2)
square of (i) is (1*2)
square of (i) is (1*2)
square of (i) is (1*2)

In [ ]:
groceries_list = ["apples","banana","milk","eggs","radish"]
for item in groceries_list:
  if item =="eggs":
    print("item" ,"found")
    break
  else:
    if item =="banana":
      continue
    print("item is not present")

item is not present
item is not present
item found

In [ ]:
savings = [2000,2500,0,3000,1000,5000,2500]
total = 0
for amount in savings:
  if amount == 0:
   continue
  if amount>4000:
   print(f"your savings  is greater than 4000 and your savings is {amount}")
  total += amount
  print(total)
  savings=tuple(savings)
  print(savings)
  savings=list(savings)

2000
(2000, 2500, 0, 3000, 1000, 5000, 2500)
4500
(2000, 2500, 0, 3000, 1000, 5000, 2500)
7500
(2000, 2500, 0, 3000, 1000, 5000, 2500)
8500
(2000, 2500, 0, 3000, 1000, 5000, 2500)
your savings  is greater than 4000 and your savings is 5000
13500
(2000, 2500, 0, 3000, 1000, 5000, 2500)
16000
(2000, 2500, 0, 3000, 1000, 5000, 2500)

In [ ]:
numbers=["1234567890","1097654321","1234534","9954637290","123456789091","23432"]
invalid_count=0
for num in numbers:
 if len(num)==10:
    print("number is not valid")
    invalid_count+=1
    continue
 else:
    print("valid")
    valid_count=+1
    valid_num,add(num)


    print(f"invalid_count is {invalid_count} and valid is {valid_count}")
    print(valid_nums)

number is not valid
number is not valid
valid

NameError: name 'valid_num' is not defined

In [ ]:
i=1
while i<10:
  print(i**1)
  i+=1

1
2
3
4
5
6
7
8
9

In [ ]:
savings_goal = 10000
current_sav = 0
monthly_dep = 1500
months = 0
while current_sav < savings_goal:
  current_sav +=monthly_dep
  months +=1
else:
  print("you reached your goal")
  print(f"it will take{months} months to achieve your goal of {savings_goal}")

you reached your goal
it will take7 months to achieve your goal of 10000

In [ ]:
student_grades = {"anu":85,"nob":56,"bob":78,"dei":43}
for i in student_grades.keys():

  print(i)

anu
nob
bob
dei

In [ ]:
for i,j in student_grades.items():
  print(i," ",j)
  if j>50:
    print(f"(i) scored A grade")
  else:
    print(f"(i) scored B grade")

anu   85
(i) scored A grade
nob   56
(i) scored A grade
bob   78
(i) scored A grade
dei   43
(i) scored B grade

In [ ]:
emp1 = {"name" : "anand",
        "salary": 100000,
        "dept" : "hr"}
emp2 = {"name" : "abdullah",
         "salary" : 10000,
         "dept" : "it"}
emp3 = {"name" : "akber",
        "salary" : 140000,
        "dept" : "finance",
        "grade" : "mi"}
employees = {
    "employee1": emp1,
    "employee2": emp2,
    "employee3": emp3
}
employees

{'employee1': {'name': 'anand', 'salary': 100000, 'dept': 'hr'},
 'employee2': {'name': 'abdullah', 'salary': 10000, 'dept': 'it'},
 'employee3': {'name': 'akber',
  'salary': 140000,
  'dept': 'finance',
  'grade': 'mi'}}

In [ ]:
for emcode,empdetails in employees.items():
  print(empdetails)

{'name': 'anand', 'salary': 100000, 'dept': 'hr'}
{'name': 'abdullah', 'salary': 10000, 'dept': 'it'}
{'name': 'akber', 'salary': 140000, 'dept': 'finance', 'grade': 'mi'}

In [ ]:
for empcode,empdetails in employees.items():
  for k,val in empdetails.items():
    if k=="name" and val=="akber":
      print("akber found")

akber found

In [ ]:
a=4
for i in range(1,10):
  print(i)
def facr(a):
  print()

1
2
3
4
5
6
7
8
9

In [ ]:

def multiply(n):
   print(n*3)
multiply(3)

9

In [ ]:
def send_gift(recipient,gift):
  print(f"sending {gift} to {recipient}")
send_gift("anand","rajesh")
print()

sending rajesh to anand

In [ ]:
def send_gift(recipient,gift):
  print(f"sending {gift} to {recipient}")
send_gift(gift="his dad",recipient="anand")

sending his dad to anand

In [ ]:
def send_gift(recipient,gift="iphone 17 max pro"):
  print(f"sending {gift} to {recipient}")
send_gift(recipient

In [ ]:
def send_gift(recipient,*gift):
  print(f"sending {gift} to {recipient}")
  send_gift("anand","iphone","samsung","oppo")

abs() all() any() basestring() bool()

In [29]:
def book_trip(destination,transport):
 print(f" booking a {transport} to {destination}")
book_trip("miami","cab")

 booking a cab to miami

same fn with keyword argument

In [30]:
def book_trip(destination,transport):
 print(f" booking a {transport} to {destination}")
book_trip(destination="miami",transport="cab")

 booking a cab to miami

In [36]:
def book_trip(destination,transport="cycle"):
  print(f" riding a {transport} to {destination}")
book_trip("ladakh","cycle")

 riding a cycle to ladakh

arbitary fn

In [46]:
def book_trip(destination,*things):
  print(f"we are going to {destination} so bring your {things}")
book_trip("beach","bike","peanut")

we are going to beach so bring your ('bike', 'peanut')

In [47]:
def add_numbers(a,b):
  print(a + b)
results = add_numbers(5,5)

10

In [50]:
def add_numbers(a,b):
  return a + b
results = add_numbers(5,5)

In [54]:
def add_ten(numbers):
  print(numbers+10)
my_result = add_ten(5)
final_answer=my_result*2

15

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [57]:
def add_ten(numbers):
  return numbers+10
my_result = add_ten(5)
final_answer=my_result*2
print(f"the final answer is {final_answer}")

the final answer is 30

lamda fn

In [8]:
def square(y):
  sq = y * y
  return sq
square(5)

25

In [9]:
re = lambda y:y*y
square(5)

25

In [10]:
addition = lambda x,y : x+y
addition(10,20)

30

In [11]:
is_pass = lambda marks:"pass" if marks>40 else "fail"
is_pass(55)

'pass'

In [16]:

def square(x):
  sq = x * x
  return sq
numbers = [1,2,3,4,5]
squares = map(square,numbers)
list(squares)

[1, 4, 9, 16, 25]

In [19]:

numbers = [1,2,3,4,5]
squares = map(lambda y:y*y,numbers)
list(squares)

[1, 4, 9, 16, 25]

In [20]:
list_a = [1,2,3]
list_b = [10,20,30]
sum_lists = list(map(lambda x,y:x+y,list_a,list_b))
sum_lists

[11, 22, 33]

In [21]:
list_a = [1,-3,2,4,-5,8,-7]
positive_list = list(filter(lambda x:x>0,list_a))
positive_list

[1, 2, 4, 8]

command at github
git init
git clone
git pull
git status
git add
git commit
git push
merge